<header>
    <div id="spacing">
    </div>
    <div id="logo-container">
        <img id="logo" src="/img/logo.png" alt="Logo Fulbo$hop"/>
    </div>
    

    <div id="nav-cotainer">
        <nav id="nav-bar">
            <label class="switch">
                <input type="checkbox" class="theme" id="theme-input">
                <div class="switch-rail"><span class="switch-orb"></span></div>
                <span class="theme-sign"><img src="/img/temaOscuro.png" alt="temaOscuro" id="theme-sign"></span>
            </label>
            <a href="/dashboard"><button class="nav-button" id="btn-products">Productos</button></a>
            <a href="/dashboard/newProduct"><button class="nav-button" id="btn-new-product">Agregar Producto</button></a>
            <a href="/dashboard/editProduct"><button class="nav-button" id="btn-edit-product">Modificar Producto</button></a>
            <a href="/dashboard/removeProduct"><button class="nav-button" id="btn-remove-product">Eliminar Producto</button></a>
            <!-- Falta implementar desde aqui -->
            <a href="/dashboard/sales"><button class="nav-button" id="btn-remove-product">Ventas</button></a>
            <a href="/dashboard/newAdmin"><button class="nav-button" id="btn-remove-product">Crear Administrador</button></a>
            <!-- Falta implementar hasta aqui -->
            <a href="http://localhost:5500/TpintegradorFront_Grupo5/frontend/home.html"><button class="nav-button" id="btn-exit">Salir</button></a>
        </nav>
    </div>
</header>

<script>
    let navigation = document.querySelectorAll(".nav-button");
    navigation.forEach(btn => btn.style.visibility = "visible");

    document.addEventListener("DOMContentLoaded", () => { 
        initializeTheme();
    })

    const initializeTheme = () => {

        const indicator = document.getElementById("theme-sign");
        let themeSwitch = document.getElementById("theme-input");

        const savedTheme = localStorage.getItem("theme");

        if (savedTheme === "dark") {

            indicator.setAttribute("src", `/img/temaClaro.png`);
            document.body.classList.add("dark-theme");
            themeSwitch.checked = true;

        } else {

            indicator.setAttribute("src", `/img/temaOscuro.png`);

        }

        themeSwitch.addEventListener("change", () => {        

            if (themeSwitch.checked) {

                indicator.setAttribute("src", `/img/temaClaro.png`);
                document.body.classList.add("dark-theme");
                localStorage.setItem("theme", "dark");

            } else {

                indicator.setAttribute("src", `/img/temaOscuro.png`);
                document.body.classList.remove("dark-theme");
                localStorage.setItem("theme", "light");

            }
        });

    }
</script>