<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

    <!-- <% if (script) { %>
        <script src="/js/<%= script %>" defer></script>
    <% } %> -->

    <title><%= title %></title>
</head>
<body>
<script>

    // sessionStorage.setItem("user", "admin");

    // if(!sessionStorage.getItem("user")) {
    //     window.location.href = `http://localhost:5500/frontend/home.html`;
    // }    

</script>
