/*
    Estilos de la página de bienvenida
*/

:root {
    --color-fondo: white;
    --color-texto: black;
    --color-header: rgb(1, 155, 167);
    --color-header2: rgb(0, 109, 117);
    --sombra: 0 4px 8px rgba(0, 0, 0, 0.2);
    --transicion: all 0.3s ease;
}

/*  theme OSCURO */
.dark-theme {
    --color-fondo: #111;
    --color-texto: #eee;
    --color-header: #1c4368;
    --color-header2: rgb(86, 182, 247);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Segoe UI', sans-serif;
}

/* ELEMENTOS DEL HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--color-header);
    position: relative;
    /* height: 130px; */
    width: 100%;
}

#spacing {
    flex: 1;
}

#logo-container {
    display: flex;
    justify-content: center;
    flex: 1;
    z-index: 1;
}

#logo {
    /* display: block;
    position: absolute;
    left: 47%;
    margin: 0 auto; */
    width: 120px;
    height: 120px;
    border-radius: 50%;
    height: auto;
    object-fit: contain;
}

#nav-cointainer {
    /* position: relative;
    right: 20px;
    flex-direction: row; */
    flex: 1;
    display: flex;
    justify-content: flex-end;
}


#nav-bar {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
}

.nav-button {
    height: 30px;
    width: 100px;
    background-color: var(--color-header);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transicion);
    visibility: hidden;
}

.nav-button:hover {
    background-color: var(--color-header2);
}

/*  SECCION SWITCH  */
.switch {
    display: flex;
    align-items: center;
    max-height: 30px;
    border-radius: 0.8rem;
    cursor: pointer;
}

.switch .theme {
    display: none;
}

.switch-rail {
    position: relative;
    width: 30px;
    height: 12px;
    background-color: aliceblue;
    border-radius: 3rem;
    margin-right: 0.5rem;
}

.switch-orb {
    width: 15px;
    height: 15px;
    background-color: var(--color-texto);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -2px;
    transform: translateY(-50%);
    transition: transform 0.4s;
}

.theme:checked~.switch-rail .switch-orb {
    transform: translate(20px, -50%);
}

.theme-sign img {
    height: 25px;
    width: auto;
    border-radius: 50%;
}

/* ELEMENTOS DEL MAIN */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo-char {
    font-size: 40px;
    color: goldenrod;
}

#login-section {
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.page-title {
    color: var(--color-texto);
    text-align: center;
}

hr {
    width: 90%;
}

.form-container {
    width: 300px;
    background-color: var(--color-fondo);
    border: 3px var(--color-texto) solid;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: var(--sombra);
    transition: var(--transicion);
}

.form-container:hover {
    transform: translateY(-5px);
}

.form-title {
    border: none;
    color: var(--color-header2);
    margin-bottom: 40px;
}

.form-component {
    margin: 5px 0px;
    padding: 8px;
    border-radius: 5px;
    transition: var(--transicion);
    width: 100%;
    box-sizing: border-box;
}
.form-component:focus {
    border-color: var(--color-header);
    outline: none;
    box-shadow: 0 0 5px var(--color-header);
}

.form-button {
    background-color: var(--color-header);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: var(--transicion);
}
.form-button:hover {
    background-color: var(--color-header2);
}

#get-container {
    margin: 0;
}

.product-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-right: 10px;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.product-item img {
    max-height: 50px;
    border: var(--color-header) solid 2px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 15px;
}

/* ELEMENTOS DEL FOOTER */
footer {
    background-color: var(--color-header);
    padding: 1rem;
    text-align: center;
    color: white;
    margin-top: auto;
}

#authors-data {
    font-style: italic;
}


/*  SECCION RESPONSIVENESS   */
@media only screen and (max-width: 600px) {

    #spacing {
        display: none;
    }

    header {
        height: 150px;
    }
    
    #logo-container {
        margin-right: 30px;
    }

    #nav-cotainer {
        max-width: 350px;
    }

    #titulo {
        font-size: 50px;
    }

    #company-name {
        font-size: 50px;
    }

    #titulo-logo1 {
        font-size: 60px;
    }

    #login-section {
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    
}