<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

    <hr>
        <h1 class="page-title"><%= about %></h1>
    <hr>

    <main id="product-container">

        <div id="new-product-container" class="form-container">
            <h3 class="form-title">Datos Nuevo Producto</h3>

            <form id="new-product-form" autocomplete="off">

                <label for="product-type" class="form-component">Tipo de Producto</label>
                <select name="product-type" class="form-component" id="product-type-select" required>
                    <option value="Camiseta" selected>Camiseta</option>
                    <option value="Botines">Botines</option>
                </select>

                <label for="text-desc" class="form-component" id="text-desc-label">Nombre Estampa</label>
                <input type="text" name="text-desc" class="form-component" id="text-desc-input" required>

                <label for="number-desc" class="form-component" id="number-desc-label">Nro. Camiseta Estampa</label>
                <input type="number" name="number-desc" class="form-component" id="number-desc-input" required>

                <label for="quality" class="form-component">Calidad</label>
                <select name="quality" class="form-component" id="quality-select" required>
                    <option id="qualityValue1" selected>Jugador</option>
                    <option id="qualityValue2" >Hincha</option>
                </select>

                <label for="price" class="form-component">Precio</label>
                <input type="number" name="price" class="form-component" id="price-input" required>

                <label for="image" class="form-component">Imagen</label>
                <input type="text" name="image" class="form-component" id="image-input" required>

                <input type="submit" class="form-component" value="Crear Producto">

            </form>
        </div>

    </main>

<%- include("partials/footer.ejs") %>