<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

    <hr>
        <h1 class="page-title"><%= about %></h1>
    <hr>

    <main id="product-container">

        <div id="get-product-container" class="form-container">
            <h3 class="form-title">Obtener Producto por ID</h3>

            <form id="get-product-form" autocomplete="off">
                <label for="product-id">ID Producto</label>
                <input type="number" name="product-id" class="form-component" id="product-id-input" required>
                <input type="submit" class="form-component" value="Obtener Producto">
            </form>                

        </div>

        <br>

        <div id="product-container">
            <ul id="product-list">
            </ul>
        </div>

        <br>

    </main>

<%- include("partials/footer.ejs") %>